<app-header></app-header>


<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Ship Schedule</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success"(click)="frame.show()" >
          <span class="fa fa-plus"></span>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Ship Name</th>
          <th class="text-center">From</th>
          <th class="text-center">To</th>
          <th class="text-center">arrival</th>
          <th class="text-center">Departure</th>
          <th class="text-center">Update</th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let ship of mainlist; let id = index">
          <td >{{ship.name}}</td>
          <td >{{ship.from}}</td>
          <td >{{ship.to}}</td>
          <td >{{ship.arrival}}</td>
          <td  >{{ship.depart}}</td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="success" rounded="true" size="sm" class="my-0" (click)="frame.show()">Update</button>
            </span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- 
<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Launch Modal</button> -->

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Ship Schedule</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body mx-1">
        <div class="md-form mb-2">
          <i class="fa fa-ship prefix grey-text"></i>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control validate"
            mdbInputDirective>
          <label data-error="wrong" data-success="right" for="defaultForm-email">Ship Name</label>
        </div>
        <div class="md-form mb-2">
          <i class="fa fa-location-arrow prefix grey-text"></i>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control validate"
            mdbInputDirective>
          <label data-error="wrong" data-success="right" for="defaultForm-email">From</label>
        </div>
        <div class="md-form mb-2">
          <i class="fa fa-location-arrow prefix grey-text"></i>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control validate"
            mdbInputDirective>
          <label data-error="wrong" data-success="right" for="defaultForm-email">To</label>
        </div>
        <div class="md-form mb-2">
          <i class="fa fa-clock-o prefix grey-text"></i>
          <input type="time" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control validate"
            mdbInputDirective>
          <label data-error="wrong" data-success="right" for="defaultForm-email">Arrival</label>
        </div>
        <div class="md-form mb-2">
          <i class="fa fa-clock-o prefix grey-text"></i>
          <input type="time" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control validate"
            mdbInputDirective>
          <label data-error="wrong" data-success="right" for="defaultForm-email">Departure</label>
        </div>


      </div>
      <div class="d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Schedule</button>
      </div>
    </div>
  </div>
</div>
<!-- <button
  [swal]="{ title: 'Enter your email', input: 'email' }"
  (confirm)="saveEmail($event)"
  (cancel)="handleRefusalToSetEmail($event)">

  Set my e-mail address
</button> -->
<div class="card-body">

  
<!-- <ag-grid-angular 
    style="width:100%; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
     [animateRows]="true"
  
    (gridReady)="onGridReady($event)"
    >
</ag-grid-angular> -->
<input type="text" placeholder="Search" (keyup)="quickSearch()" [(ngModel)]="searchValue"> 
<div class="test-header">
  Page Size:
  <select (change)="onPageSizeChanged()" id="page-size">
      <option value="10" selected="">10</option>
      <option value="100">100</option>
      <option value="500">500</option>
      <option value="1000">1000</option>
  </select>
</div>
<ag-grid-angular
style="width:1500px; height:400px;"
[paginationPageSize]="paginationPageSize"
 [paginationNumberFormatter]="paginationNumberFormatter"
[columnDefs]="colDefs"
[pagination]="true"
class="ag-theme-balham"
[enableSorting]="true"
[animateRows]="true"
[autoGroupColumnDef]="autoGroupColumnDef"

(gridReady)=onGridReady($event)
></ag-grid-angular>


</div>
